.NavBar {
  background-color: transparent;
  position: absolute;
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: #44b318;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}