.App {
    font-family: 'Roboto Mono', monospace;
    background-image: url("./assets/cosmic-background-with-colorful-laser-lights-perfect-digital-wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.Main {
    padding-top: 125px;
}

* {
    box-sizing: border-box;
}

a {
    color: #fafafa;
    transition: color ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
}

a:hover i {
    color: #cc1b1b;
    transition: color ease-in-out 0.3s;
}

i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #2142b2;
}

figure {
    text-align: center;
    display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}